#invite{
    text-align: left;
    padding: 5%;
    /* border: 3px solid black; */
    

}



.imgg{
    /* border: 3px solid black; */
    margin: auto;
    margin-bottom: 10%;
}
.founder{
    
    border-radius: 10px;
    /* border: 3px solid black; */
    
    
}

h1{
    font-size: 3rem;
    padding-left: 0px;
}

